nav{
  z-index: 1;
}
.image{
  background-image: url(../img/taxi.jpg);
  width: 100%;
  height: 1920px;
  background-size: cover;
  position: relative;
}
.bottom-img{
  position: relative;
  bottom: 1240px;
}

.height-section{
  width: 100%;
  height: 1800px;
  background-size: cover;
}
.color-white{
  color: white;
}
.background-naranja{
  background-color: #f7b617;
}
.padding-hero{
  padding: 35px;
}
.padding-hero-movile{
  padding: 20px;
  height: 260px;
}
.margin-0{
  margin: 0;
}
.padding-0{
  padding: 0;
}
.style-input{
  background-color: #f7b617;
  border-top: none;
  border-left: none;
  border-right: none;

}
.form-group{
  height: 73px;
}
.padding-input{
  padding-top: 40px;
}
h3{
  padding-right: 10px;
}
.style-h3-hero{
  display: inline-block;
}
.img-logo-blanco{
  width: 80px;
}
.style-button{
  position: relative;
  top: 35px;
}
.style-button-movile{
  position: relative;
  top: 20px;
}
.hero-style{
  z-index: 1;
  left: 787px;
  bottom: 1780px;
  height: 350px;
}
.img-responsive{
  height: 580px;
}
.hero-style-movile{
  z-index: 1;
  bottom: 410px;
  left: 80px;
}
.style-section-informacion{
  border: 2px solid white;
  border-left: none;
  color: white;
  font-size: 18px;
  height: 500px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.botton-section-1{
  position: relative;
  bottom: 1600px;
}
.botton-section-1-movile{
  position: relative;
  bottom: 280px;
}
.padding-none{
  padding: 0;
}
.style-img-celular{
  width: 180px;
  height: 200px;
  background-size: cover;
}
.section-informacion-movile{
  border: 2px solid white;
  margin: 10px;
  color: white;
  position: relative;
  right: 10px;
  padding-top: 30px;
  padding-left: 50px;
  height: 330px;

}
.color-white{
  color: white;
}
.style-section-movile{
  height: 420px;
}
